
body{

}

*{
    margin: 0;
    padding: 0;
}
.nav-one{
    border:2px solid blue ;
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.texts-container{
    display: flex;
}
.head-tag{
  /*width: 50px;*/
  padding: 15px;
  margin: 0 auto;
 font-size: 36px;

}
.items-container a{
    text-decoration: none;
    margin: 44px;
    justify-content: center;
}
.head-tag .tt{
    color: #FF5400;

}
.items-container a  .hh{
    color: #FF5400;
}
.items-container{
    padding: 10px 0px;
justify-content: center;
align-items: center;
}
/*part-one  section style*/
.part-one{
    border: 3px solid blue;
    min-height: 400px;
    margin-top: 20px;
  /*  width: 70%;*/
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    width: 1100px;
    
   /* margin:0 auto;*/
}
.section-head{
    text-align: center;
    padding: 10px;
}
/*.btn-items{
    text-align: center;
    margin: o auto;
    padding: 10px;
    margin-top: 24px;
}*/
.btn-list >li{
    display: flex;
    margin: 24px;
    text-align: center;
    font-size: 16px;

}
.btn-last{
    border-radius: 8px;
background: #FF5400;
font-size: 16px;
}

.btn-items >ul {
    text-align: center;
    margin: o auto;
    padding: 10px;
    margin-top: 24px;
    display: flex;
    justify-content: center;
}
.part-two{
    border: 10px solid red;
    min-height: 70px;
    margin-top: 20px;
    width: 70%;
    display: flex;
}
.head-text{
    border:10px solid red;
    width: 30%;
}
.part-three{
    border: 2px solid red;
    min-height: 60px;
   /* width: 50%;*/
    margin-top: 20px;
    width: 1440px;
    height: 6940px;
    
}
.img-container .img-m{
    background-image: url('../Images/Rectangle\ 5.png');
    background-repeat: no-repeat;
   /* background-position: center;*/
   /*min-height: 400px;*/
   width: 573px;
height: 300px;
flex-shrink: 0;
   
}
.img-container  .img-indo{
    background-image: url('../Images/Rectangle\ 8.png');
    background-repeat: no-repeat;
    /*background-position: center;*/
  /*  min-height: 400px;*/
    width: 573px;
height: 300px;
flex-shrink: 0;
   
}
.img-container{
    border-radius: 16px;
    display: flex;
    gap: 10px;
    margin-top: 10px;
    padding: 135px;
/*background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;*/
}
.third-text{
    text-align: center;
    margin:0 auto;
}
.three{
    background-image: url('../Images/Rectangle\ 4.png');
    background-repeat: no-repeat; 
    width: 573px;
    height: 300px;
    flex-shrink: 0;
}
.full-banner{
    display: flex;
    gap: 20px;
}